.popup__input {
  margin-block: 0;
  margin-inline: 0;
  margin: 45px auto 0;
  padding-bottom: 14px;
  width: 358px;
  height: 14px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.popup__input:last-of-type {
  margin: 27px auto 0;
}

@media screen and (max-width: 1023px) {
  .popup__input {
    width: 238px;
    margin-top: 73px;
  }
}