.profile {
  display: flex;
  width: 100%;
  padding-top: 40px;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    height: 286px;

  }
}