.profile__edit-btn {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-image: url(../../../images/profile/pen-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #fff;
}