.profile__edit-btn {
  width: 24px;
  height: 24px;
  margin-bottom: 9px;
  margin-left: 20px;
  background-image: url(../../../images/profile/pen-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__edit-btn {
    margin-bottom: 7px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-image: url(../../../images/profile/pen-small.svg);
  }
}

.profile__edit-btn:hover {
  opacity: .6;
  transition: opacity .3s;
}