.elements__card-tag {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/elements/heart.png);
  margin-right: 5px;
  margin-left: 5px;
}

.elements__card-tag:hover {
  opacity: .5;
  transition: opacity .3s;
}

.elements__card-tag:active {
  background-image: url(../../../images/elements/heart-black.png);
  opacity: 1;
}