.popup__btn-close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popup/close-icon-big.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__btn-close:hover {
  opacity: .6;
  transition: opacity .3s;
}

@media screen and (max-width: 1023px) {
  .popup__btn-close {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/popup/close-icon-small.svg);
  }
}